
.quiz__body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz__app {
  background-color: $celeste;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.quiz__score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.quiz__question-section {
  width: 100%;
  position: relative;
}

.quiz__question-count {
  margin-bottom: 20px;
}

.quiz__question-count span {
  font-size: 28px;
}

.quiz__question-text {
  margin-bottom: 12px;
}

.quiz__timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.quiz__answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz__button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(13, 13, 170, 0.541);
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #090247;
  cursor: pointer;
  margin-bottom: 7px;
  font-weight: bold;

  &:hover {
    background-color: #47a9cf77;
  }
  
  &:focus {
    outline: none;
  }
}

.quiz__correct {
  background-color: #2f922f;
}

.quiz__incorrect {
  background-color: #ff3333;
}

button svg {
  margin-right: 5px;
}