/*------------------------------------
    Sidebar
------------------------------------*/
.active, .sidebar-item:hover {
background-color: #fff;
border: 1px solid #e6e7e9;
border-right: 0;
margin-right: -1px;
}
.active:hover {
background-color: #fff;
}

.sidebar {

    &-menu {
    border-bottom: 1px solid #e6e7e9;
    border-top: 1px solid #e6e7e9;
    border-right: 1px solid #e6e7e9;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #f4f4f4;
    }
    
    &-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    }
}
  
/*------------------------------------
    Dashboard
------------------------------------*/

.profile {
    background-color: $celeste;
    &__avatarImage {
        background-color: white;
        width: 8rem;
        height: 8rem;
    }
}